@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', 'cursive', sans-serif;
    --fonte-subtitulo: 'Verdana', sans-serif;
    --fonte-padrao: 'Sriracha', 'cursive', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


header {
    text-align: center;
    color: white;
    background-color: black;
    padding: 60px;
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 9vw;
}

header > h3 {
    color: white;
    padding: 5px;
    font-family: var(--fonte-subtitulo);
    font-weight: lighter;
    font-size: 1em;
}

header a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-subtitulo);
    font-weight: bold;
    
}

header a:hover {
    text-decoration: underline;
}

article p{
    padding: 20px;
    margin: 0px;
    font-family: var(--fonte-padrao);
    line-height: 2em;
    white-space: pre-line;
    font-size: 3vw;
}

article > div.segundo-verso {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    height: 60vw;
    position: relative;
    margin-top: 0px;
    box-shadow: inset 1px 3px 20px 0px rgba(0, 0, 0, 0.5);
}

span.segundo-paragrafo > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    height: 47vw;
    width: 35vw;
    margin: 30px;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
}

article > div.quinto-verso {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 60vw;
    position: relative;
    box-shadow: inset 1px 3px 20px 0px rgba(0, 0, 0, 0.507);
}

span.quinto-paragrafo > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    height: 52vw;
    width: 35vw;
    margin: 30px;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
}

footer > p {
    background-color: black;
    text-align: center;
    font: lighter 1em Arial;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}